<div class="container ">


  <div class="mt-5 mb-5" id="msjUser" *ngIf="!isAdmin ; else adminValidado">
    <div class=" d-flex flex-column justify-content-center mt-5 mb-5"
      id="aviso">

      <div class="text-center d-flex justify-content-center mt-5 ms-1 me-1 mb-5"
        role="alert">
        <div class="alert d-flex d-row mt-5 mb-5">
          <h2 class=""><strong> Servicio No Habilitado </strong>
          </h2>
          <button type="button" class="btn btn-sm p-2 ms-2"
            data-bs-dismiss="alert" aria-label="Close"><strong>De Acuerdo</strong></button>
        </div>
      </div>

      <div class="mt-5 mb-5"></div>
    </div>
  </div>


  <ng-template #adminValidado>



    <div class="row justify-content-center">

      <!-- TITULO EDICCION DE PRODUCTOS -->
      <div class="alert alert-dark text-center bg-dark text-white text-center"
        role="alert">
        <h4><strong>EDITAR PRODUCTO SELECCIONADO</strong></h4>
      </div>

      <!-- FIN TITULO EDICCION DE PRODUCTOS -->

      <!--FORMULARIO -->
      <div class="form-group text-center d-flex justify-content-center " id="formulario">

        <form [formGroup]="formGroup" (ngSubmit)="updateProducto()">

          <div class=" text-center bg-dark text-white p-3">
            <!-- PRIMERA FILA -->

            <div class="d-flex justify-content-inline col-12">
              <div class="form-group m-3 col-5">
                <label for="codigo">
                  <h5>Código</h5>
                </label>
                <mdb-form-control>
                  <input class="form-control" type="text" id="codigo" title="
                    SOLO LETRAS MINUS/MAYUSC, NUMEROS, ESPACIOS Y GUIONES MEDIO"
                    placeholder="(Ej: 9182-LLOSS-8279)"
                    [(ngModel)]="codigo" formControlName="codigo"
                    mdbInput mdbValidate required>

                  <mdb-error class="text-danger " *ngIf="codigoForm?.invalid &&
                    (codigoForm?.dirty || codigoForm?.touched)"><strong>Código
                      Inválido</strong></mdb-error>
                  <mdb-success class="text-success" *ngIf="codigoForm?.valid &&
                    (codigoForm?.dirty || codigoForm?.touched)"><strong>Código
                      Válido</strong></mdb-success>
                </mdb-form-control>

              </div>
              <div class="form-group m-3 col-5">
                <label for="nombre">
                  <h5>Nombre</h5>
                </label>
                <mdb-form-control>
                  <input type="text" class="form-control" id="nombre" title="
                    SOLO LETRAS MINUS/MAYUSC, NUMEROS, ESPACIOS Y GUIONES MEDIO"
                    placeholder="(Ej: SmartPhone xperia LLU-2) " name="nombre"
                    [(ngModel)]="nombre" formControlName="nombre"
                    mdbInput mdbValidate required>
                  <mdb-error class="text-danger" *ngIf="nombreForm?.invalid &&
                    (nombreForm?.dirty || nombreForm?.touched)"><strong>Nombre
                      Inválido</strong></mdb-error>
                  <mdb-success class="text-success" *ngIf="nombreForm?.valid &&
                    (nombreForm?.dirty || nombreForm?.touched)"><strong>Nombre
                      Válido</strong></mdb-success>
                </mdb-form-control>
              </div>



            </div>
            <!-- FIN PRIMERA FILA -->


            <!-- SEGUNDA FILA -->
            <div class="d-flex justify-content-inline">

              <div class="form-group m-3 col-5">
                <label for="descripcion"><h5>Descripción</h5></label>
                <mdb-form-control>
                  <input type="text" class="form-control" id="descripcion" title="
                    SOLO LETRAS MINUS/MAYUSC, NUMEROS, ESPACIOS Y GUIONES MEDIO"
                    placeholder="(Ej: Celular Alta Gama) " name="descripcion"
                    [(ngModel)]="descripcion" formControlName="descripcion"
                    mdbInput mdbValidate required>
                  <mdb-error class="text-danger" *ngIf="descripcionForm?.invalid &&
                    (descripcionForm?.dirty || descripcionForm?.touched)"><strong>Descripción
                      Inválida</strong></mdb-error>
                  <mdb-success class="text-success" *ngIf="descripcionForm?.valid &&
                    (descripcionForm?.dirty || descripcionForm?.touched)"><strong>Descripción
                      Válida</strong></mdb-success>
                </mdb-form-control>

              </div>

              <div class="form-group m-3 col-5">
                <label for="categoria"><h5>Categoría</h5></label>
                <mdb-form-control>
                  <select type="text" class="form-select" id="categoria"
                  name="categoria"
                  [(ngModel)]="categoria"
                  formControlName="categoria"
                  mdbInput mdbValidate required>
                  <option value="{{categoria}}">- {{categoria}}</option>
                  <option value="Microcontroladores">- Microcontroladores</option>
                  <option value="Gamer">- Gamer</option>
                  <option value="Monitores">- Monitores</option>
                  <option value="Notebook">- Notebook</option>
                  <option value="Celulares">- Celulares</option>
                  <option value="Tablet">- Tablet</option>
                  <option value="Placas Electronicas">- Placas Electrónicas</option>
                  <option value="Iluminacion">- Iluminación</option>
                  <option value="Fuentes Electricas">- Fuentes Eléctricas</option>

                  <option disabled><strong>---OTROS---</strong></option>
                  <option value="Generales">- Generales</option>
                </select>
                  <mdb-error class="text-danger" *ngIf="categoriaForm?.invalid &&
                    (categoriaForm?.dirty || categoriaForm?.touched)"><strong>Categoría
                      Inválida</strong></mdb-error>
                  <mdb-success class="text-success" *ngIf="categoriaForm?.valid &&
                    (categoriaForm?.dirty || categoriaForm?.touched)"><strong>Categoría
                      Válida</strong></mdb-success>
                </mdb-form-control>

              </div>

            </div>
            <!-- FIN SEGUNDA FILA -->

            <!-- TERCERA FILA -->
            <div class="d-flex justify-content-inline">

              <div class="form-group m-3 col-5">
                <label for="marca"><h5>Marca</h5></label>
                <mdb-form-control>
                  <select type="text" class="form-select" id="marca"
                    name="marca"
                    [(ngModel)]="marca"
                    formControlName="marca"
                    mdbInput mdbValidate required>
                    <option value="{{marca}}">- {{marca}}</option>
                    <option value="HP">- HP</option>
                    <option value="Samsung">- Samsung</option>
                    <option value="Asus">- Asus</option>
                    <option value="Hukio">- Hukio</option>
                    <option value="Xperia">- Xperia</option>
                    <option value="All Home">- All Home</option>
                    <option value="Arduino">- Arduino</option>
                    <option value="Apple">- Apple</option>
                    <option value="Cisco">- Cisco</option>

                    <option value="Celetron">- Celetron</option>
                    <option disabled><strong>---OTROS---</strong></option>

                    <option value="Generica">- Genérica</option>
                  </select>
                  <mdb-error class="text-danger" *ngIf="marcaForm?.invalid &&
                    (marcaForm?.dirty || marcaForm?.touched)"><strong>Marca
                      Inválida</strong></mdb-error>
                  <mdb-success class="text-success" *ngIf="marcaForm?.valid &&
                    (marcaForm?.dirty || marcaForm?.touched)"><strong>Marca
                      Válida</strong></mdb-success>
                </mdb-form-control>
              </div>



              <div class="form-group m-3 col-5">
                <label for="stock"><h5>Stock</h5> </label>
                <mdb-form-control>
                  <input type="number" class="form-control" id="stock" title="
                    SOLO NUMEROS ENTEROS" placeholder=" (Ej: 200)" name="stock"
                    [(ngModel)]="stock"
                    formControlName="stock"
                    mdbInput mdbValidate required>
                  <mdb-error class="text-danger" *ngIf="stockForm?.invalid &&
                    (stockForm?.dirty || stockForm?.touched)"><strong>Stock
                      Inválido</strong></mdb-error>
                  <mdb-success class="text-success" *ngIf="stockForm?.valid &&
                    (stockForm?.dirty || stockForm?.touched)"><strong>Stock
                      Válido</strong></mdb-success>
                </mdb-form-control>
              </div>




            </div>
            <!-- FIN TERCERA FILA -->


            <!-- CUARTA FILA -->
            <div class="d-flex justify-content-inline">


              <div class="form-group ms-3 me-1 col-11 col-10">
                <label for="imagen"><h5>Imagen</h5></label>
                <mdb-form-control>
                  <input class="form-control" type="url" id="imagen" title="SOLO
                    URL DE IMAGENES (EJ:
                    https://icon-icons.com/icon/Next-arrow/1058)"
                    placeholder="(Ej:
                    https://icon-icons.com/icon/Next-arrow/1058)" name="imagen"
                    [(ngModel)]="imagen"
                    formControlName="imagen"
                    mdbInput mdbValidate required>
                  <mdb-error class="text-danger" *ngIf="imagenForm?.invalid &&
                    (imagenForm?.dirty || imagenForm?.touched)"><strong>URL
                      Inválida</strong></mdb-error>
                  <mdb-success class="text-success" *ngIf="imagenForm?.valid &&
                    (imagenForm?.dirty || imagenForm?.touched)"><strong>URL
                      Válida</strong></mdb-success>
                </mdb-form-control>

              </div>



            </div>
            <!-- FIN CUARTA FILA -->

            <!-- QUINTA FILA -->
            <div class="d-flex justify-content-inline">


              <div class="form-group m-3 col-5">
                <label for="hojaDatos"><h5>Datasheet</h5></label>
                <mdb-form-control>
                  <input class="form-control" type="url" id="hojaDatos" title="SOLO
                    URL DE DATASHEETS (EJ:
                    https://icon-icons.com/icon/Next-arrow/1058)"
                    placeholder="(Ej:
                    https://icon-icons.com/icon/Next-arrow/1058)" name="hojaDatos"
                    [(ngModel)]="hojaDatos"
                    formControlName="hojaDatos"
                    mdbInput mdbValidate required>
                  <mdb-error class="text-danger" *ngIf="hojaDatosForm?.invalid &&
                    (hojaDatosForm?.dirty || hojaDatosForm?.touched)"><strong>HOJA DE DATOS
                      Inválida</strong></mdb-error>
                  <mdb-success class="text-success" *ngIf="hojaDatosForm?.valid &&
                    (hojaDatosForm?.dirty || hojaDatosForm?.touched)"><strong>HOJA DE DATOS
                      Válida</strong></mdb-success>
                </mdb-form-control>

              </div>

              <div class="form-group m-3 col-5">
                <label for="precio"><h5>Precio</h5> </label>
                <mdb-form-control>
                  <input type="number" step="0.01" class="form-control"
                    id="precio" title=" SOLO NUMEROS DECIMALES"
                    placeholder=" (Ej: 220)" name="precio"
                    [(ngModel)]="precio"
                    formControlName="precio"
                    mdbInput mdbValidate required>
                  <mdb-error class="text-danger"
                    *ngIf="precioForm?.invalid && (precioForm?.dirty
                    || precioForm?.touched)"><strong>Precio por Unidad
                      Inválido</strong></mdb-error>
                  <mdb-success class="text-success"
                    *ngIf="precioForm?.valid && (precioForm?.dirty
                    || precioForm?.touched)"><strong>Precio por Unidad
                      Válido</strong></mdb-success>
                </mdb-form-control>


              </div>


            </div>
            <!-- FIN QUINTA FILA -->




            <!-- SEXTA FILA -->
            <div class="d-flex justify-content-inline">



              <div class="form-group m-3 col-5">
                <label for="fecha"><h5>Fecha</h5></label>

                  <mdb-form-control>
                    <input type="text" class="form-control" id="fecha" required title="dd/mm/yyyy, dd-mm-yyyy o dd.mm.yyyy"
                    placeholder=" (Ej: 10-09-10)"
                      [(ngModel)]="fecha"
                      formControlName="fecha"
                      mdbInput mdbValidate required>
                    <mdb-error class="text-danger"
                      *ngIf="fechaForm?.invalid && (fechaForm?.dirty
                      || fechaForm?.touched)"><strong>FECHA
                        Inválida</strong></mdb-error>
                    <mdb-success class="text-success"
                      *ngIf="fechaForm?.valid && (fechaForm?.dirty
                      || fechaForm?.touched)"><strong>FECHA
                        Válida</strong></mdb-success>
                  </mdb-form-control>
              </div>


              <div class="form-group m-3 col-5">
                <label for="hora"><h5>Hora</h5></label>

                  <mdb-form-control>
                    <input type="text" class="form-control" id="hora" required title="hh:mm"
                    placeholder=" (Ej: 09:00)"
                      [(ngModel)]="hora"
                      formControlName="hora"
                      mdbInput mdbValidate required>
                    <mdb-error class="text-danger"
                      *ngIf="horaForm?.invalid && (horaForm?.dirty
                      || horaForm?.touched)"><strong>Hora
                        Inválida</strong></mdb-error>
                    <mdb-success class="text-success"
                      *ngIf="horaForm?.valid && (horaForm?.dirty
                      || horaForm?.touched)"><strong>HORA
                        Válida</strong></mdb-success>
                  </mdb-form-control>
              </div>

            </div>
            <!-- FIN SEXTA FILA -->


            <hr>
            <!-- BOTONES -->
            <div class=" mt-0 p-1 text-center">
              <button type="reset" class="btn bg-none mb-2 mr-2">
                <img src="assets/forms/papelera.png" alt="" width="60"
                  height="60">
              </button>
              <button type="submit" class="btn bg-none ml-4 mb-2">
                <img src="assets/forms/enviar03.png" alt="" width="60"
                  height="60">

              </button>

            </div>
            <!-- FIN BOTONES -->

          </div>


        </form>




      </div>
      <!-- FIN FORMULARIO -->



      <!--BTN'S REGRESAR/ACTUALIZAR-->
      <div class="container mt-2">
        <div class="row justify-content-center">
          <div class="col-sm-2 col-md-2">
            <a class="nav-link" [routerLink]="['/listado-componentes']">
              <button class="btn btn-lg btn-outline-dark border-light alert-link
                bg-dark text-white">Regresar
                <!--Icono Regresar Inicio-->
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                  fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16
                  16">
                  <path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921
                    4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7
                    8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
                  </svg>
                  <!--Fin Icono Regresar Inicio-->
                </button>


              </a>
            </div>
            <div class="col-2 mt-2">

              <button onClick="window.location.reload()" class="btn btn-lg
                btn-outline-dark border-light alert-link bg-dark text-white">Actualizar
                <!--Icono Actualizar Listado-->
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                  fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16
                  16">
                  <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966
                    2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1
                    .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692
                    6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                    <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857
                      1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917
                      7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0
                      8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083
                      9H3.1z"/>
                    </svg>
                    <!--Fin Icono Actualizar Listado-->
                  </button>

                </div>
              </div>
            </div>
            <!--FIN BTN'S REGRESAR/ACTUALIZAR-->




          </div>

        </ng-template>


      </div>
