<div class="container ">
    <div class="row justify-content-center">

        <div class="alert alert-dark bg-dark text-white text-center" role="alert">
            <h4><strong>NOVEDADES</strong></h4>
        </div>


        <!--LIST GROUP-->
        <div class="row">
            <div class="mb-2 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action " id="list-placas-elect" data-bs-toggle="list" href="#list-placas" role="tab" aria-controls="list-placas-elect">Nuevas Placas Electrónicas <span class="badge badge-primary badge-pill">(14)</span></a>
                    <a class="list-group-item list-group-item-action" id="list-comp-elect" data-bs-toggle="list" href="#list-comp" role="tab" aria-controls="list-comp-elect">Nuevos Componentes <span class="badge badge-primary badge-pill">(10)</span></a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Nuevos Proveedores<span class="badge badge-primary badge-pill">(2)</span></a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Fabricantes<span class="badge badge-primary badge-pill">(3)</span></a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Otros</a>
                </div>


                <div class="alert alert-secondary bg-dark text-white text-center mt-2" role="alert">
                    <h4 class="alert-heading">Nuevas Placas Electrónicas</h4>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start ">
                            <div class=" ms-2 me-auto">
                                <div class="fw-bold">Intel Edison Arduino Dual Core</div> Importado

                            </div>
                            <span class="badge bg-primary rounded-pill">4</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Orange Pi Zero Plus 2</div>
                                Importado
                            </div>
                            <span class="badge bg-primary rounded-pill">3</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Arduino Uno</div>
                                Nacional
                            </div>
                            <span class="badge bg-primary rounded-pill">10</span>
                        </li>
                    </ol>
                </div>


                <div class="alert alert-secondary bg-dark text-white text-center mt-2" role="alert">
                    <h4 class="alert-heading">Nuevos Componentes</h4>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Transistor FET GaN</div>Importado

                            </div>
                            <span class="badge bg-primary rounded-pill">4</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Transistor de Tubo Alta Línea</div>
                                Importado
                            </div>
                            <span class="badge bg-primary rounded-pill">6</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Capacitores Electr. Nueva Gen</div>
                                Nacional
                            </div>
                            <span class="badge bg-primary rounded-pill">7</span>
                        </li>
                    </ol>
                </div>





            </div>





            <div class="mb-2 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="tab-content" id="nav-tabContent">

                    <div class="alert alert-dark text-center bg-dark text-white text-center" role="alert">
                        <h5><strong>DESTACADOS</strong></h5>
                    </div>


                    <!--NUEVAS PLACAS ELECTRONICAS -->
                    <div class="tab-pane " id="list-placas" role="tabpanel" aria-labelledby="list-placas-elect">

                        <!--CARD NUEVAS PLACAS ELECTRÓNICAS -->
                        <div class="col mb-3">
                            <div class="card ">
                                <img src="../assets/inicio/ard.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Intel Edison Arduino Dual Core Quark Con Placa Evaluacion</h5>
                                    <p class="card-text">Un nuevo proyecto ha transformado una placa de desarrollo basada en ESP32 en una NES portátil y de mano.
                                        <a href="https://www.notebookcheck.org/Arduino-NES-Transformar-una-placa-compatible-con-Arduino-en-una-NES-portatil.503710.0.html">Leer Más</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD NUEVAS PLACAS ELECTRÓNICAS -->

                        <!--CARD NUEVAS PLACAS ELECTRÓNICAS -->
                        <div class="col mb-3">
                            <div class="card">
                                <img src="../assets/inicio/rasp.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Orange Pi Zero Plus 2 Quadcore Allwinner H5 512mb Ddr3 Wifi</h5>
                                    <p class="card-text">Orange Pi Zero Plus 2-H5 es un computador de código abierto en una sola tarjeta, puede funcionar con los sistemas operativos Android Ubuntu, Debian, Rasberry Pi Image. <a href="https://articulo.mercadolibre.com.ar/MLA-856085517-orange-pi-zero-plus-2-quadcore-allwinner-h5-512mb-ddr3-wifi-_JM#reco_item_pos=4&reco_backend=machinalis-seller-items-pdp&reco_backend_type=low_level&reco_client=vip-seller_items-above&reco_id=d478624f-6541-4349-9f18-15bcdbf5f5c7">Leer Más</a></p>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD NUEVAS PLACAS ELECTRÓNICAS-->

                    </div>

                    <!--FIN NUEVAS PLACAS ELECTRÓNICAS-->




                    <!--NUEVOS COMPONENTES -->
                    <div class="tab-pane fade show active" id="list-comp" role="tabpanel" aria-labelledby="list-comp-elect">

                        <!--CARD NUEVOS COMPONENTES -->
                        <div class="col mb-3">
                            <div class="card ">
                                <img src="../assets/inicio/fet.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Transphorm 650V 34A GaN FETs</h5>
                                    <p class="card-text">Los FET De GaN Transphorm 650V 34A son dispositivos normalmente apagados que utilizan la plataforma Gen IV de Transphorm. Los FET combinan un HEMT GaN de alto voltaje con un MOSFET de silicio de bajo voltaje.
                                        <a href="https://ar.mouser.com/new/transphorm/transphorm-650v-gan-fets/">Leer Más</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD NUEVOS COMPONENTES -->


                        <!-- CARD NUEVOS COMPONENTES -->
                        <div class="col mb-3">
                            <div class="card">
                                <img src="../assets/inicio/trans.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Nuevo Transistor de tubo de línea de alta definición 1500V 20A 60W</h5>
                                    <p class="card-text">Este Transistor se puede implementar como interruptor operando a nua Temperatura de 150c (Tj).<a href="https://es.made-in-china.com/co_jdp-ic/product_New-Original-J6820-HD-Line-Tube-Transistor-1500V-20A-60W_eogyhuygg.html">Leer Más</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD NUEVOS COMPONENTES -->

                    </div>

                    <!--FIN NUEVOS COMPONENTES-->




                    <!--PROVEEDORES -->
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

                        <!--CARD PROVEEDORES 01-->
                        <div class="card border-dark mb-3">
                            <div class="card-header">Productos & Servicios</div>
                            <div class="card-body text-dark">
                                <h5 class="card-title">Microelectronica SRL</h5>
                                <p class="card-text">Somos distribuidores de componentes electrónicos que importamos en forma directa, y distribuimos en forma mayorista y minorista en función del volumen solicitado. Somos un nexo fuerte y confiable entre nuestros clientes
                                    y los fabricantes de primeras marcas de componentes en el exterior..<a href="https://grupomicro.nubeadhoc.com/aboutus">Ver Más</a></p>
                            </div>
                        </div>
                        <!--FIN CARD PROVEEDORES 01-->
                        <!--CARD PROVEEDORES 02-->
                        <div class="card border-dark mb-3">
                            <div class="card-header">Productos & Fabricación & Servicios</div>
                            <div class="card-body text-dark">
                                <h5 class="card-title">SYC</h5>
                                <p class="card-text">Provisión de componentes electrónicos con stock local permanente. Importaciones especiales a pedido del Cliente. Provisión de kits de componentes. Armado de plaquetas y arneses de conexión en grandes y pequeñas series.
                                    Desarrollo custom de displays LCD.<a href="https://www.sycelectronica.com.ar/empresa.php">Ver Más</a>
                                </p>

                            </div>
                        </div>
                        <!--FIN CARD PROVEEDORES 02-->



                    </div>
                    <!--FIN PROVEEDORES -->

                    <!--FABRICANTES -->
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">

                        <!--CARD FABRICANTES 01-->
                        <div class="card border-dark mb-3">
                            <div class="card-header">Importación</div>
                            <div class="card-body text-dark">
                                <h5 class="card-title">Analog Devices</h5>
                                <p class="card-text">Fundada hace 50 años a Massachussetts (EEUU), Analog Devices (ADI) es una de las mayores firmas fabricantes de semiconductores de mundo. Líder en procesadores de señal avanzados y en convertidores de altas prestaciones
                                    (el puente entre los mundos analógico y digital), mantiene un catálogo de 10.000 productos de alto valor añadido.<a href="https://www.analog.com/en/products.html">Ver Más</a></p>
                            </div>
                        </div>
                        <!--FIN CARD FABRICANTES 01-->
                        <!--CARD FABRICANTES 02-->
                        <div class="card border-dark mb-3">
                            <div class="card-header">Importación</div>
                            <div class="card-body text-dark">
                                <h5 class="card-title">Advanced Linear Devices</h5>
                                <p class="card-text">Advanced Linear Devices Inc. diseña, desarrolla y fabrica circuitos integrados analógicos CMOS de precisión para OEM en un amplio espectro de industrias, incluyendo control industrial, computadora, instrumentación, automotriz
                                    y telecomunicaciones<a href="http://www.aldinc.com/">Ver Más</a>
                                </p>

                            </div>
                        </div>
                        <!--FIN CARD FABRICANTES 02-->


                        <!--CARD FABRICANTES 03-->
                        <div class="card border-dark mb-3">
                            <div class="card-header">Nacional</div>
                            <div class="card-body text-dark">
                                <h5 class="card-title">Electroquímica DELTA</h5>
                                <p class="card-text">Desde sus primeros pasos en 1962, Electroquímica Delta se destacó por su esmerada atención y la gran variedad de productos a disposición del universo de la industria moderna.<a href="https://www.edelta.com.ar/index.php/cel-empresa">Ver Más</a>
                                </p>

                            </div>
                        </div>
                        <!--FIN CARD FABRICANTES 03-->



                    </div>
                    <!--FIN FABRICANTES -->

                    <!--OTROS -->
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">

                        <!--CARD OTROS 01-->
                        <div class="card mb-3">
                            <img src="../assets/inicio/disc.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Desafíos de la industria electrónica en 2022</h5>
                                <p class="card-text">Hacia el futuro, el sector de electrónica de consumo tiene el reto de recuperar los niveles de fabricación y ventas previos a 2019 <a href="https://www.infobae.com/inhouse/2021/12/20/las-claves-y-desafios-de-la-industria-electronica-en-2022/">Ver Más</a></p>
                                <p class="card-text"><small class="text-muted">20 de Diciembre de 2021</small></p>
                            </div>
                        </div>
                        <!--FIN CARD OTROS 01-->
                        <!--CARD OTROS 02-->
                        <div class="card mb-3">
                            <img src="../assets/inicio/disc02.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Chips a 14 nm para 2022</h5>
                                <p class="card-text">China se acerca a EE.UU: chips a 14 nm para 2022 ¿una amenaza real?<a href="https://hardzone.es/noticias/procesadores/china-vs-ee-uu-chips-14-nm/">Ver Más</a></p>
                                <p class="card-text"><small class="text-muted">
                            Publicado el 24 de junio, 2021</small></p>
                            </div>
                        </div>
                        <!--FIN CARD OTROS 02-->

                    </div>
                    <!--FIN OTROS -->


                </div>

            </div>
            <!--FIN LIST GROUP-->








            <!--RIGHT COLUMNS ALERTS -->

            <!--CARD COMPONENTES IMPORTADOS-->
            <div class="mb-2 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="alert alert-dark" role="alert">
                    <h4 class="alert-heading">Componentes Importados</h4>
                    <p>La empresa cuenta con stock de importación y distribución de componentes electrónicos a nivel general. Disponemos de la posibilidad de traer muestras para su desarrollo y prefabricación.</p>
                    <hr>
                    <p class="mb-0">Cantidad de Importaciones Distribuidas : <span class="badge bg-dark">1890</span></p>
                </div>
                <!--FIN CARD COMPONENTES IMPORTADOS-->
                <!--CARD COMPONENTES NACIONALES-->
                <div class="alert alert-dark" role="alert">
                    <h4 class="alert-heading">Componentes Nacionales</h4>
                    <p>La industria electrónica argentina se caracterizó, desde sus comienzos en los primeros tiempos de la telefonía y de las radios a válvula, de depender casi totalmente de componentes importados. La mayoría de las fábricas de productos
                        electrónicos de Argentina sólo ensamblan componentes fabricados en otros países.</p>
                    <hr>
                    <p class="mb-0">Cantidad de Productos Nacionales Distribuidos : <span class="badge bg-dark">1200</span></p>
                </div>
                <!--FIN CARD COMPONENTES NACIONALES-->
                <!--CARD BLOG-->
                <div class="list-group ">
                    <span class="badge bg-dark text-white text-center mb-2"><h4 class="text-center">Blog Técnico</h4></span>
                    <a href="https://www.electronicafacil.top/transistor/tecnicas-de-fabricacion-de-transistores/" class="list-group-item list-group-item-action  bg-dark text-white " aria-current="true">
                        <div class="d-flex w-100 justify-content-between ">
                            <h5 class="mb-1">Técnicas de Fabricación</h5>
                            <small class="">2 años</small>
                        </div>
                        <p class="mb-1">Electrónica Fácil Top</p>
                        <small>abril 5, 2020</small>
                    </a>
                    <a href="https://www.electronicafacil.top/secciones/circuito-combinacional/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Circuito Combinacional</h5>
                            <small class="text-muted">1 año</small>
                        </div>
                        <p class="mb-1">Demultiplexores, convertidores, etc</p>
                        <small class="text-muted">Sin Fecha</small>
                    </a>
                    <a href="https://www.electronicafacil.top/amplificador/amplificador-acoplado-rc/" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Amplificador Acoplado RC</h5>
                            <small class="text-muted">1 año</small>
                        </div>
                        <p class="mb-1">Descripción, funcionamiento, etc.</p>
                        <small class="text-muted">abril 25, 2020.</small>
                    </a>
                </div>
                <!--FIN CARD BLOG-->

                <!--FIN RIGHT COLUMNS ALERTS -->

            </div>









        </div>

    </div>