<div class="container ">
    <div class="row justify-content-center">

        <div class="alert alert-dark text-center" role="alert">
            <h4><strong>NOVEDADES</strong></h4>
        </div>


        <!--LIST GROUP-->
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Nuevos Componentes</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Proveedores</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Fabricación</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Otros</a>
                </div>
            </div>

            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">

                    <!--NUEVOS COMPONENTES -->
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                        <!--CARD NUEVOS COMPONENTES -->
                        <div class="col mb-3">
                            <div class="card h-50">
                                <img src="../assets/inicio/ard.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Intel Edison Arduino Dual Core Quark Con Placa Evaluacion</h5>
                                    <p class="card-text">Un nuevo proyecto ha transformado una placa de desarrollo basada en ESP32 en una NES portátil y de mano. Publicado enInstruibles, el proyecto pide una placa TTGO T8, que es compatible con el IDE de Arduino. También
                                        necesitará una pantalla LCD de 4,0 pulgadas, un amplificador I2S MAX98357, un mini altavoz con montaje en el PCB, un módulo de joystick analógico y varios botones.
                                        <a href="https://www.notebookcheck.org/Arduino-NES-Transformar-una-placa-compatible-con-Arduino-en-una-NES-portatil.503710.0.html">Leer Más</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD NUEVOS COMPONENTES -->

                        <!--CARD NUEVOS COMPONENTES -->
                        <div class="col mb-3">
                            <div class="card h-100">
                                <img src="../assets/inicio/rasp.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Orange Pi Zero Plus 2 Quadcore Allwinner H5 512mb Ddr3 Wifi</h5>
                                    <p class="card-text">Orange Pi Zero Plus 2-H5 es un computador de código abierto en una sola tarjeta, puede funcionar con los sistemas operativos Android Ubuntu, Debian, Rasberry Pi Image. Utiliza el SoC AllWinner H5 de cuatro nucleos,
                                        y tiene 512 MB DDR3 de SDRAM. <a href="https://articulo.mercadolibre.com.ar/MLA-856085517-orange-pi-zero-plus-2-quadcore-allwinner-h5-512mb-ddr3-wifi-_JM#reco_item_pos=4&reco_backend=machinalis-seller-items-pdp&reco_backend_type=low_level&reco_client=vip-seller_items-above&reco_id=d478624f-6541-4349-9f18-15bcdbf5f5c7">Leer Más</a></p>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD NUEVOS COMPONENTES -->

                        <!--CARD NUEVOS COMPONENTES -->
                        <div class="col mb-3">
                            <div class="card h-100">
                                <img src="../assets/inicio/trans.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Nuevo Transistor de tubo de línea de alta definición 1500V 20A 60W</h5>
                                    <p class="card-text">Este Transistor se puede implementar como interruptor operando a nua Temperatura de 150c (Tj).<a href="https://es.made-in-china.com/co_jdp-ic/product_New-Original-J6820-HD-Line-Tube-Transistor-1500V-20A-60W_eogyhuygg.html">Leer Más</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--FIN CARD NUEVOS COMPONENTES -->

                    </div>

                    <!--FIN NUEVOS COMPONENTES -->
                    <!--PROVEEDORES -->
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

                        <!--CARD PROVEEDORES 01-->
                        <div class="card border-dark mb-3" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body text-dark">
                                <h5 class="card-title">Dark card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <!--FIN CARD PROVEEDORES 01-->
                        <!--CARD PROVEEDORES 02-->
                        <div class="card border-dark mb-3" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body text-dark">
                                <h5 class="card-title">Dark card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <!--FIN CARD PROVEEDORES 02-->
                        <!--CARD PROVEEDORES 03-->
                        <div class="card border-dark mb-3" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body text-dark">
                                <h5 class="card-title">Dark card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <!--FIN CARD PROVEEDORES 03-->


                    </div>
                    <!--FIN PROVEEDORES -->
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                </div>
            </div>
        </div>
        <!--FIN LIST GROUP-->

        <br>


    </div>

</div>
