 div .alert {
     opacity: 0.8;
 }

 #card {
     opacity: 0.9;
 }



table {

  background-color: rgb(211, 210, 210);
  opacity: 0.8;
  padding: 5px;



  thead{
    th{
      button{
        background-color: rgb(76, 56, 56);
        border-color: black;
        opacity: 1;
      }
      button:hover{
        background-color:rgb(143, 46, 46) ;
      }
    }
  }

    p,th,td {
      margin-bottom: 0px;
      margin-top: 0px;
      padding: 5px;
    }

}


#modalCheckDelete{
  background: none;
  border: none;

  .alert{

  border-radius: 15px;
  border-color: #15351a;

    button{
      border-radius: 10px;
    }
  }


}
