<div class="container ">


    <div class="alert alert-dark bg-dark text-white text-center" role="alert">
        <h4><strong>DETALLES DEL PRODUCTO</strong></h4>
    </div>


    <!--CARDS-->
    <div class="row justify-content-center">




        <!--CARD DETALLES PRODUCTO-->

        <div class="col-md-12 col-sm-12">


            <div id="card" class="card alert alert-dark bg-dark text-white text-center">


                <div id="card" class="text-center bg-dark text-white">

                    <h5 class="bg-dark text-white text-center m-2"><strong>REGISTRO SELECCIONADO</strong></h5>
                </div>
                <div id="card" class="row g-0   bg-dark text-white ">
                    <hr>

                    <table class="table table-secondary table-bordered border-light table-hover ">


                        <thead class="table-dark border-light">
                            <tr>
                                <th scope="col"><strong>ID</strong></th>
                                <th scope="col"><strong>CÓDIGO</strong>
                                </th>
                                <th scope="col"><strong>NOMBRE</strong>
                                </th>
                                <th scope="col"><strong>DESCRIPCIÓN</strong></th>
                                <th scope="col"><strong>CATEGORÍA</strong></th>
                                <th scope="col"><strong>MARCA</strong></th>
                                <th scope="col"><strong>HOJA DE DATOS</strong></th>
                                <th scope="col"><strong>STOCK</strong></th>
                                <th scope="col"><strong>PRECIO</strong></th>
                                <th class="d-none d-sm-block" scope="col"><strong>OPCIONES</strong></th>
                            </tr>
                        </thead>


                        <tbody class="table-dark border-light bg-dark text-center">
                            <tr>
                                <td>{{testData.id}}</td>
                                <td>{{testData.codigo}}</td>

                                <td>{{testData.nombre}}</td>

                                <td>{{testData.descripcion}}</td>

                                <td>{{testData.categoria}}</td>

                                <td>{{testData.marca}}</td>

                                <td>
                                    <a href="{{testData.hojaDatos}}" target="_blank">Link</a></td>
                                <td>{{testData.stock}}</td>
                                <td>{{testData.precio}}</td>
                                <td>
                                    <!--BOTONES-->
                                    <div class="card-body  ">

                                        <div class="d-flex justify-content-center text-center">

                                            <div class="">
                                                <button class="btn btn-warning border-dark alert-link m-1" (click)="editarProducto()">
                        <!--Icono Editar Producto-->
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                          <!--Fin Icono Editar Producto-->
                      </button>
                                            </div>
                                            <div class="">
                                                <button class="btn btn-danger border-dark
                                                text-white alert-link m-1 " (click)="eliminarProducto()">
              <!--Icono Eliminar Producto-->
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
              <!--Fin Icono Eliminar Producto-->
                </button>
                                            </div>


                                        </div>
                                    </div>

                                    <!--FIN BOTONES-->
                                </td>

                            </tr>

                        </tbody>

                    </table>



                </div>
            </div>
        </div>
    </div>
    <!--  FIN CARD DETALLES PRODUCTO-->



























    <!--CARD PRODUCTO-->
    <div class="col-md-12 col-sm-12 d-flex justify-content-center text-center mt-3">

        <!--CARD INFO-->
        <div class="card alert alert-dark bg-dark text-white text-center " style="max-width: 540px;">
            <div id="card" class="text-center bg-dark text-white text-center">
                <h5 class="text-underline alert alert-dark  bg-dark text-white text-center m-2"><strong> INFORMACIÓN</strong></h5>
            </div>
            <div id="card" class="row g-0 bg-dark text-white text-center">

                <hr>
                <div class="col-md-5">
                    <img src="assets/images/esp32.jpg" class="card-img-top " alt="...">
                </div>
                <div class="col-md-7 ">
                    <div class="card-body ">
                        <h5 class="card-title bg-gradient bg-opacity-10 bg-dark text-center">Módulo Wifi Mcu Esp32</h5>
                        <p class="card-text">Incluyen puerto de conexión microUSB para alimentación y conector JST para alimentación de la placa. Y se pueden programar desde el IDE de Arduino.

                        </p>
                    </div>
                    <div class="card-body  ">
                        <a href="https://www.espressif.com/sites/default/files/documentation/esp32_datasheet_en.pdf" class="card-link text-dark">Datasheet</a>
                        <a href="https://www.espressif.com/sitproyectos%20esp32es/default/files/documentation/esp32_datasheet_en.pdf" class="card-link text-dark">Proyectos</a>
                        <a href="https://www.espressif.com/sitproyectos%20esp32es/default/files/documentation/esp32_datasheet_en.pdf" class="card-link text-dark">Más Info</a>
                    </div>
                </div>
            </div>
        </div>
        <!--FIN CARD INFO-->

        <!--CARD CARACTERISTICAS-->
        <div class="card alert alert-dark bg-dark text-white text-center ms-5">
            <div id="card" class="text-center bg-dark text-white text-center">
                <h5 class="text-underline alert alert-dark bg-dark text-white text-center m-2">CARACTERÍSTICAS</h5>
            </div>
            <div id="card" class="row g-0 bg-dark text-white text-center">

                <hr>
                <table class="table table-secondary table-bordered border-dark table-hover border-light">
                    <thead class="table-dark text-center border-light">
                        <tr>
                            <th scope="col"><strong>Característica</strong></th>

                            <th scope="col"><strong>Valor</strong></th>

                        </tr>
                    </thead>
                    <tbody class="table-dark bg-dark text-center border-light">

                        <tr>
                            <td>Velocidad</td>
                            <td>80MHz/160MHz.</td>
                        </tr>
                        <tr>
                            <td>Memoria Flash</td>
                            <td>4 MBytes.</td>

                        </tr>
                        <tr>
                            <td>Tensión Funcionamiento</td>
                            <td>3.3 volts.</td>

                        </tr>

                        <tr>
                            <td>Entradas y Salidas Digitales</td>
                            <td>11, todos (salvo el D0) con PWM, interrupciones, e I2C.</td>

                        </tr>

                        <tr>
                            <td>Entradas Analógicas</td>
                            <td>1 (Max. 3.2V).</td>

                        </tr>

                        <tr>
                            <td>Conector</td>
                            <td> Micro-USB.</td>

                        </tr>

                    </tbody>

                </table>


            </div>
        </div>
        <!--FIN CARD CARACTERISTICAS-->

    </div>


    <!--FIN CARD PRODUCTO-->















    <!--BTN'S REGRESAR/ACTUALIZAR-->
    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="col-sm-2 col-md-2">
                <a>
                    <button class="btn btn-outline-dark  border-light alert-link bg-dark text-white" (click)="regresarListadoProductos()">Regresar
    <!--Icono Regresar Inicio-->
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
      <path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
    </svg>
      <!--Fin Icono Regresar Inicio-->
        </button>
                </a>
            </div>
            <div class="col-2">

                <button onClick="window.location.reload()" class="btn btn-outline-dark  border-light alert-link bg-dark text-white">Actualizar
    <!--Icono Actualizar Listado-->
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
      <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
      <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
    </svg>
      <!--Fin Icono Actualizar Listado-->
        </button>

            </div>
        </div>
    </div>

    <!--FIN BTN'S REGRESAR/ACTUALIZAR-->







</div>
<!--FIN CARDS-->