header {
    color: white;
    background-color: transparent;
    nav{
      opacity: 0.8;
    }

}

img {
    padding-right: 2px;
}

div.collapse {
    margin-left: 15px;
    padding: 5px;
}

a{
  color: white;
}


li:hover{
  background-color: rgb(46, 2, 2);
  border-radius: 1em;
}

