<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <div>
                <img src="assets/images/elect02.png" alt="" width="30" height="30" class="d-inline-block align-text-top "> Tienda de Electrónica
            </div>
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['/#']">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/listadoComponentes']">Listado Componentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/agregarComponentes']">Agregar Componentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/ayuda']">Ayuda</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>