


<!-- LISTADO DE PRODUCTOS -->
<div class="container">
  <div class="row justify-content-center m-3">

    <!-- TITULO EDICCION DE PRODUCTOS -->
    <div class="alert alert-dark bg-dark text-white text-center" role="alert">
      <h4 class=""><strong>LISTADO DE PRODUCTOS</strong></h4>


    </div>
    <!-- FIN TITULO EDICCION DE PRODUCTOS -->


    <!-- BUSCADOR -->
    <div class="text-left " id="buscador">

      <div class="d-flex flex-row justify-content-center mt-5">

        <!-- FORM FILTRO -->
        <div class="text-left col-7">

          <div class="d-flex flex-row text-left col-12 m-2"
            (ngSubmit)="setFilter(filtroInput.value)">

            <input type="text" name="filtro" class="form-control "
              placeholder="Buscador de Productos" aria-label="valor" id="filtro"
              #filtroInput>

            <!--BTN'S -->
            <div class="d-flex d-row">
              <!--BTN BUSQUEDA-->
              <a>
                <button class="btn bg-none p-1 border-dark" type="button"
                  (click)="setFilter(filtroInput.value)" required>
                  <img src="./assets/images/search.png" alt="" width="45"
                    height="45" class="">
                </button>
              </a>
              <!--FIN BTN BUSQUEDA-->

              <!--BTN LIMPIAR-->
              <button class="btn bg-none p-1 ms-2"
                (click)="filtroInput.value=''">
                <img src="./assets/forms/papelera.png" alt="" width="45"
                  height="45" class="">
              </button>
              <!--FIN BTN LIMPIAR-->
            </div>
          </div>
          <!--FIN BTN'S -->

        </div>



        <!-- BTN MODAL INFO  -->
        <div class="ms-5 col-2 justify-content-end">
          <button class="btn bg-none p-1 ms-2" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            <img src="./assets/images/help02.png" alt="" width="45"
              height="45" class="">
          </button>

        </div>

        <!-- FIN BTN MODAL INFO  -->





      </div>
      <!-- FIN FORM FILTRO -->


    </div>
    <!-- FIN BUSCADOR-->



    <!-- TABLA PRODUCTOS -->
    <table table-condensed class="table table-secondary table-bordered
      border-dark table-hover m-3">
      <thead class="table-dark text-center">
        <tr>

          <th scope="row">
            <div class="d-flex flex-row justify-content-center p-1">
              <p><strong>CÓDIGO</strong></p>

              <button class=" btn border-dark justify-content-center p-1 ms-2"
                type="button" (click)="orderByDirection('codigo','asc')">
                <img src="assets/list/sort01.png" width="15" alt=""></button>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-row justify-content-center p-1">
              <p><strong>NOMBRE</strong></p>

              <button class=" btn border-dark justify-content-center p-1 ms-2"
                type="button" (click)="orderByDirection('nombre','asc')">
                <img src="assets/list/sort01.png" width="15" alt=""></button>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-row justify-content-center p-1">
              <p><strong>DESCRIPCIÓN</strong></p>

              <button class=" btn border-dark justify-content-center p-1 ms-2"
                type="button"(click)="orderByDirection('descripcion','asc')">
                <img src="assets/list/sort01.png" width="15" alt=""></button>
            </div>

          </th>
          <th scope="col">

            <div class="d-flex flex-row justify-content-center p-1">
              <p><strong>CATEGORÍA</strong></p>

              <button class=" btn border-dark justify-content-center p-1 ms-2"
                type="button" (click)="orderByDirection('categoria','asc')">
                <img src="assets/list/sort01.png" width="15" alt=""></button>
            </div>



          </th>
          <th scope="col">
            <div class="d-flex flex-row justify-content-center p-1">
              <p><strong>MARCA</strong></p>

              <button class=" btn border-dark justify-content-center p-1 ms-2"
                type="button" (click)="orderByDirection('marca','asc')">
                <img src="assets/list/sort01.png" width="15" alt=""></button>
            </div>

          </th>
          <th scope="col">

            <div class="d-flex flex-row justify-content-center p-1">

              <p><strong>IMAGEN</strong></p>

              <button class=" btn border-dark justify-content-center p-1 ms-2"
                type="button" (click)="orderByDirection('imagen','asc')">
                <img src="assets/list/sort01.png" width="15" alt=""></button>
            </div>




          </th>

          <th scope="col">

            <div class="d-flex flex-row justify-content-center p-1">

              <p><strong>DATASHEET</strong></p>

              <button class=" btn border-dark justify-content-center p-1 ms-2"
                type="button" (click)="orderByDirection('hojaDatos','asc')">
                <img src="assets/list/sort01.png" width="15" alt=""></button>
            </div>




          </th>
          <th scope="col">

            <div class="d-flex flex-row justify-content-center p-1">
              <p><strong>STOCK</strong></p>

              <button class=" btn border-dark justify-content-center p-1 ms-2"
                type="button" (click)="orderByDirection('stock','asc')">
                <img src="assets/list/sort01.png" width="15" alt=""></button>
            </div>



          </th>
          <th scope="col">
            <div class="d-flex flex-row justify-content-center p-1">
              <p><strong>PRECIO</strong></p>

              <button class=" btn border-dark justify-content-center p-1 ms-2"
                type="button" (click)="orderByDirection('precio','asc')">
                <img src="assets/list/sort01.png" width="15" alt=""></button>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-row justify-content-center p-1">
              <p><strong>FECHA</strong></p>

              <button class=" btn border-dark justify-content-center p-1 ms-2
                me-2" type="button" (click)="orderByDirection('fecha','asc')">
                <img src="assets/list/sort01.png" width="15" alt=""></button>
              <p><strong>HORA</strong></p>
              <button class=" btn border-dark justify-content-center p-1 "
                type="button" (click)="orderByDirection('hora','asc')">
                <img src="assets/list/sort01.png" width="15" alt=""></button>
            </div>
          </th>

          <p><th scope="col"><strong>OPCIONES</strong></th></p>
        </tr>
      </thead>

      <!-- REGISTROS FILTRO -->
      <tbody class="table-dark bg-dark text-center">
        <!--Replicamos 4 veces los productos e iconos-->
        <tr *ngFor="let producto of productos">

          <th scope="row" class="text-white text-center">{{producto.codigo}}</th>
          <td>{{producto.nombre}}</td>
          <td>{{producto.descripcion}}</td>
          <td>{{producto.categoria}}</td>
          <td>{{producto.marca}}</td>
          <td class="bg-white">
            <img src={{producto.imagen}} target="_blank" width="70px"
              height="70px"></td>
          <td>
            <a href={{producto.hojaDatos}} target="_blank"> <img
                src="assets/images/pdf.png" width="40" height="40" alt=""></a></td>
          <td>{{producto.stock}} u.</td>
          <td>${{producto.precio}}</td>
          <td>{{producto.fecha}} / {{producto.hora}}</td>

          <!--En caso de moviles ocultamos -->
          <td class="btn-group d-none d-sm-block" role="group">
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary border-dark alert-link m-1 p-1"
                (click)="detalleProducto(producto)">
                <!--Icono Visualizar Producto-->
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                  fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0
                  0 16 16">
                  <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707
                    0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0
                    .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0
                    0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1
                    1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1
                    0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0
                    .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0
                    0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0
                    .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0
                    1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096
                    4.096a.5.5 0 0 1 0 .707z"/>
                  </svg>
                  <!--Fin Icono Visualizar Producto-->
                </button>

                <button class="btn btn-warning border-dark alert-link m-1 p-1"
                  (click)="editarProducto(producto)">
                  <!--Icono Editar Producto-->
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    fill="currentColor" class="bi bi-pencil" viewBox="0 0 16
                    16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0
                      .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0
                      1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5
                      4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207
                      4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1
                      .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821
                      3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0
                      1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                    <!--Fin Icono Editar Producto-->
                  </button>

                  <button class="btn btn-danger border-dark alert-link m-1 p-1"
                    (click)="setProductoSelect(producto)">
                    <!--Icono Eliminar Producto-->
                    <svg xmlns="http://www.w3.org/2000/svg" width="25"
                      height="25" fill="currentColor" class="bi bi-trash"
                      viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0
                        0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5
                        0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1
                          1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0
                          1-1-1V2a1 1 0 0 1 1-1pa1 1 0 0 1 1-1h2a1 1 0 0 1 1
                          1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1
                          1pa1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5
                          3V2h11v1h-11z"/>
                        </svg>
                        <!--Fin Icono Eliminar Producto-->
                      </button>
                    </div>
                  </td>
                </tr>

              </tbody>
              <!-- FIN REGISTROS-->

            </table>
            <!-- FIN TABLA PRODUCTOS -->


            <!--PAGINACION/REGRESAR/ACTUALIZAR-->
            <div class="container col-12">
              <div class="row justify-content-center">

                <!--BTN'S PAGINATION-->
                <div class="col-4 mt-2" id="pagination">
                  <nav aria-label="..." class="bg-none text-white">
                    <ul class="pagination pagination-lg bg-none text-white
                      border-light alert-link ">
                      <li class="page-item bg-none text-white "
                        (click)="paginaAnterior()">
                        <button class="btn btn-lg btn-outline-dark border-light
                          alert-link text-white">Anterior </button>
                      </li>
                      <li class="page-item ">
                        <button class="btn btn-lg btn-outline-dark border-light
                          alert-link text-white" (click)="cambiarPagina(0)">1</button>
                      </li>
                      <li class="page-item">
                        <button class="btn btn-lg btn-outline-dark border-light
                          alert-link text-white" (click)="cambiarPagina(1)">2</button>
                      </li>
                      <li class="page-item"><button class="btn btn-lg
                          btn-outline-dark border-light alert-link text-white"
                          (click)="cambiarPagina(2)">3</button></li>
                      <li class="page-item">
                        <button class="btn btn-lg btn-outline-dark border-light
                          alert-link text-white" (click)="paginaSiguiente()">
                          Siguiente
                        </button>
                      </li>
                    </ul>
                  </nav>
                </div>
                <!--FIN BTN'S PAGINATION-->






                <!-- INFO NRO DE PAGINA Y ELEMENTOS -->
                <div class="col-6 bg-none text-white border-light alert-link
                  d-flex flex-row mt-2 ms-4" id="pagination">

                  <nav aria-label="..." class="bg-none text-white">
                    <ul class="pagination pagination-lg bg-none text-white
                      border-light alert-link ">
                      <li class="page-item bg-none text-white ">
                        <button *ngIf="nroTotalElements != 0" class="btn btn-lg
                          btn-outline-dark border-light alert-link text-white">
                          Página: {{nroPage + 1}} / {{totalPages}}</button>
                        <button *ngIf="nroTotalElements == 0" class="btn btn-lg
                          btn-outline-dark border-light alert-link text-white">
                          Página: {{nroPage + 1}} de {{totalPages}}</button>
                        <button class="btn btn-lg btn-outline-dark bg-none
                          border-light alert-link text-white"> Elementos:
                          {{nroCurrentElements}} / {{nroTotalElements}}
                        </button>
                      </li>

                      <li class="page-item bg-none text-white ms-5">
                        <a [routerLink]="['/inicio-componentes']">
                          <button class="btn btn-lg btn-outline-dark
                            border-light alert-link text-white" title="INICIO">
                            <!--Icono Regresar Inicio-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="20"
                              height="20" fill="currentColor" class="bi
                              bi-reply-fill" viewBox="0 0 16 16">
                              <path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1
                                0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0
                                6 0 7 8-2.5-4.5-7-4-7-4v1.281c0
                                .56-.606.898-1.079.62z"/>
                              </svg>

                              <!--Fin Icono Regresar Inicio-->
                            </button>
                          </a>
                        </li>

                        <li class="page-item bg-none text-white ms-2">

                          <button onClick="window.location.reload()" class="btn
                            btn-lg btn-outline-dark border-light alert-link
                            text-white" title="ACTUALIZAR">
                            <!--Icono Actualizar Listado-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="20"
                              height="20" fill="currentColor" class="bi
                              bi-arrow-repeat" viewBox="0 0 16 16">
                              <path d="M11.534 7h3.932a.25.25 0 0 1
                                .192.41l-1.966 2.36a.25.25 0 0 1-.384
                                0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11
                                2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25
                                0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                                <path fill-rule="evenodd" d="M8 3c-1.552
                                  0-2.94.707-3.857 1.818a.5.5 0 1
                                  1-.771-.636A6.002 6.002 0 0 1 13.917
                                  7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002
                                  5.002 0 0 0 8.757 2.182.5.5 0 1 1
                                  .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                                </svg>

                                <!--Fin Icono Actualizar Listado-->
                              </button>




                            </li>

                          </ul>
                        </nav>

                      </div>
                      <!-- FIN INFO NRO DE PAGINA Y ELEMENTOS -->







                      <!--BTN'S RIGHT-->
                      <div class=" col-4 d-flex flex-row" id="pagination">
                      </div>
                      <!--FIN BTN'S RIGHT-->

                    </div>

                  </div>

                  <!--FIN PAGINACION/REGRESAR/ACTUALIZAR-->

                </div>
              </div>
              <!-- FIN LISTADO DE PRODUCTOS -->












              <!--MODAL AYUDA -->
              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop"
                data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content" id="modalAyuda">
                    <div class="modal-header">
                      <h4 class="modal-title" id="staticBackdropLabel">Guía
                        Listado de Productos</h4>
                      <button type="button" class="btn-close btn-close-white"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h5>Acerca de la Gestión de Productos </h5>
                      <p>En esta sección podemos visualizar los Productos según
                        los requerimientos deseados, existe paginacion de
                        productos, podemos aplicar filtros de búsqueda y las
                        operaciones CRUD requeridas según el rol que se tenga.
                        Los admins podrán realizar todas las Operaciones, los
                        usuarios solamente la visualización y búsquedas.</p>
                      <h5>Buscador de Productos </h5>
                      <p>Es posible realizar la búsqueda de productos según
                        filtros aplicados para cada campo del Listado. Es decir,
                        las siglas o palabras ingresadas serán aplicadas para
                        todos los campos. </p>
                      <h5>Campos del Listado</h5>
                      <p>Cada campo describe una característica del producto
                        específico por fila. El campo opciones nos permite
                        visualizar, editar y eliminar el producto seleccionado.
                        También podemos agregar un producto desde la barra de
                        navegación.</p>
                      <ul>

                        <li><strong>Código:</strong> Este código hace referencia
                          al producto, no es posible que existan duplicados, es
                          válido solo letras, números y ciertos caracteres.
                          Además de un máximo de 10 digitos.</li>
                        <li><strong>Nombre:</strong> El nombre hace referencia
                          mismo al producto. A comparación de la descripción,
                          este es una acotación para la clasificación de los
                          productos.</li>
                      </ul>
                      <div class="mt-5 ">
                        <strong>CONTENIDO PARCIALMENTE DISPONIBLE, CONTACTAR AL
                          DESARROLLADOR</strong>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark"
                        data-bs-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--FIN MODAL AYUDA-->







              <!-- MODAL CHECK ADMIN-->
              <div class="modal fade" id="staticBackdrop02"
                data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true"
                *ngIf="!isAdmin ; else adminValidado">

                <div class="modal-dialog">
                  <div class="modal-content" id="modalCheckDelete">

                    <div class="alert alert-danger alert-link" role="alert">
                      <div class="d-flex d-row">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24"
                          height="24" fill="currentColor" class="bi
                          bi-exclamation-triangle-fill flex-shrink-0 me-2"
                          viewBox="0 0 16 16" role="img" aria-label="Warning:">
                          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165
                            13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0
                            1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0
                            .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1
                            5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0
                            0 1 0-2z"/>
                          </svg>

                          <h5>
                            Servicio Habilitado para administradores!!
                          </h5>
                        </div>
                        <div class="d-flex justify-content-end mt-2">
                          <button type="button" class="btn btn-success btn-sm
                            p-1 m-1" data-bs-dismiss="modal">Aceptar</button>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>

                <!-- FIN MODAL CHECK ADMIN-->





                <!-- TEMPLATE MODAL DELETE-->
                <ng-template #adminValidado>

                  <!--MODAL CHECK DELETE -->
                  <div class="modal fade" id="staticBackdrop02"
                    data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel"
                    aria-hidden="true">

                    <div class="modal-dialog">
                      <div class="modal-content" id="modalCheckDelete">

                        <div class="alert alert-danger alert-link" role="alert">
                          <div class="d-flex d-row">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                              height="24" fill="currentColor" class="bi
                              bi-exclamation-triangle-fill flex-shrink-0 me-2"
                              viewBox="0 0 16 16" role="img"
                              aria-label="Warning:">
                              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165
                                13.233c-.457.778.091 1.767.98 1.767h13.713c.889
                                0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0
                                .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1
                                0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1
                                0 2 1 1 0 0 1 0-2z"/>
                              </svg>

                              <h5>
                                Está Seguro que desea Eliminar el Producto
                                {{nombrProdSelect}} ??
                              </h5>
                            </div>
                            <div class="d-flex justify-content-end mt-2">
                              <button type="button" class="btn btn-success
                                btn-sm p-1 m-1" data-bs-dismiss="modal">Cancelar</button>
                              <button type="button" class="btn btn-danger btn-sm
                                p-1 m-1" data-bs-dismiss="modal"
                                (click)="eliminarProducto(idProdSelect)">Eliminar</button>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>
                    <!--FIN MODAL CHECK DELETE-->
                  </ng-template>

                  <!-- FIN TEMPLATE MODAL DELETE-->
