
<!--CONTAINER PRINCIPAL-->
<div class="container ">
  <div class="row justify-content-center">


    <div class="alert alert-dark text-center bg-dark text-white text-center" role="alert">
      <h4 class="">
        <strong>ACERCA DE PRODUCTOS
                     <!-- BTN MODAL INFO  -->
                      <button class="btn bg-none p-1 ms-2" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <img src="./assets/images/help02.png" alt="" width="30"
                          height="30" class="">
                      </button>
                    <!-- FIN BTN MODAL INFO  -->
      </strong></h4>
    </div>




<div class="row mb-0 ">
  <div class="col-md-10">
    <div class="scrollspy-example scrollspy-container">
      <section mdbScrollspyElement="scrollspy" id="example-1">
        <h3>Placas Electrónicas</h3>

              <div class="d-flex d-row m-2">


                <!--CARD ARDUINO DUAL -->
                <div class="card m-2 ">
                    <img src="https://m.media-amazon.com/images/I/71+C5RtAuuL._SL1280_.jpg" class="card-img-top " width="80px" alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title ">Intel Edison Arduino Dual Core Quark Con Placa Evaluacion</h5>
                        <p class="card-text ">Un nuevo proyecto ha transformado una placa de desarrollo basada en ESP32 en una NES portátil y de mano.
                            <a href="https://www.notebookcheck.org/Arduino-NES-Transformar-una-placa-compatible-con-Arduino-en-una-NES-portatil.503710.0.html ">Leer Más</a>
                        </p>
                    </div>
                </div>

            <!--FIN CARD ARDUINO DUAL -->

            <!--CARD ORANGE PI ZERO -->
            <div class="card m-2 ">
              <img src="https://m.media-amazon.com/images/W/WEBP_402378-T1/images/I/71u2Y4CXk7L._AC_SL1500_.jpg" class="card-img-top " width="80px" alt="... ">
              <div class="card-body ">
                  <h5 class="card-title ">Orange Pi Zero Plus 2 Quadcore Allwinner H5 512mb Ddr3 Wifi</h5>
                  <p class="card-text ">Orange Pi Zero Plus 2-H5 es un computador de código abierto en una sola tarjeta, puede funcionar con varios sistemas operativos.
                      <a href="https://articulo.mercadolibre.com.ar/MLA-856085517-orange-pi-zero-plus-2-quadcore-allwinner-h5-512mb-ddr3-wifi-_JM#reco_item_pos=4&reco_backend=machinalis-seller-items-pdp&reco_backend_type=low_level&reco_client=vip-seller_items-above&reco_id=d478624f-6541-4349-9f18-15bcdbf5f5c7 ">Leer Más</a>
                  </p>
              </div>
          </div>

      <!--FIN CARD ORANGE PI ZERO -->

           <!--CARD ARDUINO MEGA -->
           <div class="card m-2 ">
            <img src="https://ar.mouser.com/images/arduino/lrg/A000067_SPL.jpg" class="card-img-top "  width="80px" alt="... ">
            <div class="card-body ">
                <h5 class="card-title ">Arduino Mega 2560 Rev3
                </h5>
                <p class="card-text ">The Arduino Mega 2560 is a microcontroller board based on the ATmega2560. It has 54 digital input/output pins (of which 15 can be used as PWM outputs),
                    <a href="https://store.arduino.cc/products/arduino-mega-2560-rev3">Leer Más</a>
                </p>
            </div>
        </div>

    <!--FIN CARD ARDUINO MEGA -->


            </div>


      </section>
      <section mdbScrollspyElement="scrollspy" id="example-2">
        <h3>Microcontroladores</h3>

        <div class="d-flex d-row m-2">

          <!--CARD ESP8266 -->
          <div class="card m-2">
              <img src="https://media.naylampmechatronics.com/474-medium_default/nodemcu-v2-esp8266-wifi.jpg" class="card-img-top " width="80px" alt="... ">
              <div class="card-body ">
                  <h5 class="card-title ">Modulo de desarrollo NodeMcu Lua Esp8266
                  </h5>
                  <p class="card-text ">El NodeMcu es un kit de desarrollo de código abierto basado en el popular chip ESP8266 (ESP-12E).Posee placa wifi con una frecuencia de 2.4Mhz.
                      <a href="https://www.todomicro.com.ar/investigacion-desarrollo-y-prototipado/486-modulo-de-desarrollo-nodemcu-lua-esp8266.html?gclid=Cj0KCQjwmouZBhDSARIsALYcouq0KYaCyHTvYYRtVEcOY0buug1UmmXcLmw5waWgXvS9F8C7fRKWghkaAoodEALw_wcB">Leer Más</a>
                  </p>
              </div>
          </div>

      <!--FIN CARD ESP8266 -->

      <!--CARD WEMOS -->
      <div class="card m-2">
        <img src="https://http2.mlstatic.com/D_NQ_NP_633088-MLA42810225341_072020-O.jpg" class="card-img-top " width="80px" alt="... ">
        <div class="card-body ">
            <h5 class="card-title ">Módulo ESP12f Nodemcu D1 Mini ESP8266
            </h5>
            <p class="card-text ">EL Nodemcu-MINI es una placa de desarrollo que esta basada en el popular chip ESP8266. Con este sencillo módulo se puede realizar el prototipo de cualquier sistema para el IoT.
                <a href="https://www.todomicro.com.ar/arduino/377-modulo-esp12f-nodemcu-d1-mini-esp8266.html">Leer Más</a>
            </p>
        </div>
    </div>

<!--FIN CARD WEMOS -->

     <!--CARD ATMEGA328P-PU -->
     <div class="card m-2">
      <img src="https://sc04.alicdn.com/kf/H48bffd098b4f4c8a85a5d03739ce168bi.jpg" class="card-img-top "  width="80px" alt="... ">
      <div class="card-body ">
          <h5 class="card-title ">ATMEGA328P-PU
          </h5>
          <p class="card-text ">ATMEGA328P-PU PDIP28 Original MCU IC Chip Electronic Components ATMEGA328P SMD ATMEGA 328P-PU atmega328p pu SupplyPopular. MCU IC Chip Electronic Components

              <a href="https://store.arduino.cc/products/arduino-mega-2560-rev3">Leer Más</a>
          </p>
      </div>
  </div>

<!--FIN CARD ATMEGA328P-PU -->


      </div>




      </section>





      <section mdbScrollspyElement="scrollspy" id="example-3">
        <h3>Notebooks</h3>


        <div class="d-flex d-row m-2">


          <!--CARD IDEAPAD -->
          <div class="card m-2">
              <img src="https://www.lenovo.com/medias/lenovo-laptop-ideapad-3-15-intel-hero.png?context=bWFzdGVyfHJvb3R8MjczNzUyfGltYWdlL3BuZ3xoMGQvaDYxLzE0MTkwNTI5Njc1Mjk0LnBuZ3xmYTMyYzBlZmE5NTcyNzAyMTZhZmJlMmFmOTVjMmZmYTM4ZTdjNWFiZWM0YzE5YWQ2YzcxNmM3OTE2MThjZmE4" class="card-img-top " width="80px" alt="... ">
              <div class="card-body ">
                  <h5 class="card-title ">IdeaPad 3i (15.6”, Intel)</h5>
                  <p class="card-text ">La IdeaPad 3 tiene el precio de una laptop de uso diario, pero con un diseño extraordinario y una amplia gama de funcionalidad UI.
                      <a href="https://www.lenovo.com/ar/es/laptops/ideapad/serie-300/IdeaPad-3i-15-inch-Intel/p/81WE01Q5AR?cid=ar:sem:ssc|se|google|ssc+top+roas|Grupo+de+anuncios||es_AR81WE01Q5AR|6458987432|85754408788|pla-1513661637752|shopping|mixed|all&gclid=Cj0KCQjwvZCZBhCiARIsAPXbajtGFlvxBX3mN1VCUucoAo85aKJfC-9aCIOCgpQIfG5QCv9Gnqt03_kaAk2LEALw_wcB">Leer Más</a>
                  </p>
              </div>
          </div>

      <!--FIN CARD IDEAPAD-->

      <!--CARD Lenovo Legion-->
      <div class="card m-2">
        <img src="https://www.lenovo.com/medias/lenovo-laptop-legion-5-15-intel-subseries-hero.png?context=bWFzdGVyfHJvb3R8MzA2MjM2fGltYWdlL3BuZ3xoOGUvaDI2LzE0MzMyNjk1MzE0NDYyLnBuZ3w0NTQ5M2UyMWNkNjIyYmEzNmI0MWM0YTU4MjM0YjcxZmZhNTAxZThiZWE2OTUwNDJjOTQ2MDI3NWY3YzA3NzNm" class="card-img-top " width="80px" alt="... ">
        <div class="card-body ">
            <h5 class="card-title ">Lenovo Legion 5i (15.6", Intel)
            </h5>
            <p class="card-text ">Disfruta de los juegos como nunca antes con tu próxima Legion 5i (15") equipada con procesadores hasta Intel® Core™ i7 de la serie H de hasta la 10ma generación.
                <a href="https://www.lenovo.com/ar/es/laptops/laptops-legion/legion-5-series/Legion-5i-15/p/82AU00B0AR?cid=ar:sem:ssc|se|google|ssc+top+roas|Grupo+de+anuncios||es_AR82AU00B0AR|6458987432|85754408788|pla-1513661637752|shopping|mixed|all&gclid=Cj0KCQjwvZCZBhCiARIsAPXbajunhmRa5cy42bZXkOm_WYvzYx0DRs2TzzjGUa8GxDDd8WSAiZInLSsaApHLEALw_wcB">Leer Más</a>
            </p>
        </div>
    </div>

<!--FIN CARD Lenovo Legion -->

     <!--CARD ThinkPad E14 -->
     <div class="card m-2">
      <img src="https://www.lenovo.com/medias/lenovo-laptop-thinkpad-e14-gen-2-hero.png?context=bWFzdGVyfHJvb3R8MjY4OTA2fGltYWdlL3BuZ3xoYTAvaGIyLzE0MTA2OTIyMzE5OTAyLnBuZ3xkMTM5OTVhY2M3ODRhNGZlOGZiN2M0N2RlNjJiYTA4Zjg2ZjUwM2RhY2UyM2VkZWYwMzY4OTA3ZmQ3ZTlkYjVh" class="card-img-top "  width="80px" alt="... ">
      <div class="card-body ">
          <h5 class="card-title ">ThinkPad E14 2da Gen (14”, Intel)
          </h5>
          <p class="card-text ">La laptop ThinkPad E14 2da Gen (Intel) incluye procesadores hasta Intel® Core™ i7 de 11va generación, con lo que consigues un mayor rendimiento para las tareas en el trabajo.
              <a href="https://www.lenovo.com/ar/es/laptops/thinkpad/serie-e/E14-G2/p/20TBS6YP00?cid=ar:sem:ssc|se|google|ssc+top+roas|Grupo+de+anuncios||es_AR20TBS6YP00|6458987432|85754408788|pla-1513661637752|shopping|mixed|all&gclid=Cj0KCQjwvZCZBhCiARIsAPXbajueOwnPSyr3BtI3uR-1Sv4sIEbvuJU-DlX5NqCiTTxNlIDMWpQDuTwaAlBCEALw_wcB">Leer Más</a>
          </p>
      </div>
  </div>

<!--FIN CARD ThinkPad E14 -->


      </div>
</section>


        <section mdbScrollspyElement="scrollspy" id="example-4">
          <h3>Smart TV</h3>


          <div class="d-flex d-row m-2">


            <!--CARD Smart TV Android-->
            <div class="card m-2">
                <img src="https://medias.musimundo.com/medias/00558068-146488-146488-01-146488-01.jpg-size515?context=bWFzdGVyfGltYWdlc3w3NjQzNnxpbWFnZS9qcGVnfGgxMC9oOTYvMTAzOTI0OTI1Mzk5MzQvMDA1NTgwNjgtMTQ2NDg4LTE0NjQ4OF8wMS0xNDY0ODhfMDEuanBnX3NpemU1MTV8NDRiODI3MWMwZWE0YWFkODgwYzJlOTE5NzRhYTUxMTNkMmQxNjVlYWM4YzUxMTIwN2EyMWE3MTQyZDRiYTdiYw" class="card-img-top " width="80px" alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">SMART LED ANDROID TV PHILIPS 43 PULGADAS.
                    </h5>
                    <p class="card-text ">V LED Smart Android de 43" FHD (1920 x 1080). Optimizacion de la imagen HDR10, HLG, Pixel plus alta definicion. Potencia 2 x 8W RMS.
                        <a href="https://www.musimundo.com/audio-tv-video/televisores/smart-led-android-tv-philips-43-pulgadas-full-hd-43pfd6917-77/p/00558068?gclid=Cj0KCQjwvZCZBhCiARIsAPXbajuUudzQJYUI-sqz8ROZIhoPkMA8ZQUkxBVDbF-NUMz6JuzL7DnJVW0aAt7wEALw_wcB">Leer Más</a>
                    </p>
                </div>
            </div>

        <!--FIN CARD Smart TV Android-->

        <!--CARD Smart TV Samsung-->
        <div class="card m-2">
          <img src="https://medias.musimundo.com/medias/00431004-144032-144032-01-144032-01.jpg-size515?context=bWFzdGVyfGltYWdlc3w0OTI1OXxpbWFnZS9qcGVnfGg3NC9oMzEvMTA0MTQwODc3NjYwNDYvMDA0MzEwMDQtMTQ0MDMyLTE0NDAzMl8wMS0xNDQwMzJfMDEuanBnX3NpemU1MTV8NmU2NDQ4YWQ1MTkzYmM5MWJlMTllMWRmMzhlYTRmYzA3YmU1NTM3MTUyYzQyM2U2NDJlODJmMmJkN2MxNDhiNQ" class="card-img-top " width="80px" alt="... ">
          <div class="card-body ">
              <h5 class="card-title ">SMART LED TV SAMSUNG 55 PULGADAS 4K UHD 55AU7000

              </h5>
              <p class="card-text ">PurColor te lleva a vivir una experiencia casi real, expresando amplia gama de colores para un rendimiento de imagen óptimo y una esperiencia de visualización.
                  <a href="https://www.musimundo.com/audio-tv-video/televisores/smart-led-tv-samsung-55-pulgadas-4k-uhd-55au7000/p/00431004?&utm_source=braindw&utm_medium=gondola-cross-intermedia&utm_campaign=gondola-cross-intermedia">Leer Más</a>
              </p>
          </div>
      </div>

  <!--FIN CARD Smart TV Samsung -->

       <!--CARD SMART LED TV BGH -->
       <div class="card m-2">
        <img src="https://medias.musimundo.com/medias/00242038-138228-138228-01-138228-01.jpg-size515?context=bWFzdGVyfGltYWdlc3w5NTM1MXxpbWFnZS9qcGVnfGg2Yy9oNDIvMTAzOTI4MTExMTA0MzAvMDAyNDIwMzgtMTM4MjI4LTEzODIyOF8wMS0xMzgyMjhfMDEuanBnX3NpemU1MTV8ZWUyNjI4MGFlZTI3MDgxZDJhMTA0OWZmNTIwMjgyNWQwMDRlOTBlMDMwM2ViODkxNWJkMmM2MjA1MjA3YWY1YQ" class="card-img-top "  width="80px" alt="... ">
        <div class="card-body ">
            <h5 class="card-title ">SMART LED TV BGH 32 PULGADAS HD B3219K5.
            </h5>
            <p class="card-text ">TV Smart. 32" HD. Resolucion 1366 x 768. Procesador Quad Core. HDMI. WI Fi. USB. Sintonizador TDA. Entradas posteriores de video compuesto y audio analogico.
                <a href="https://store.arduino.cc/products/arduino-mega-2560-rev3">Leer Más</a>
            </p>
        </div>
    </div>

  <!--FIN CARD SMART LED TV BGH -->


        </div>
        </section>










        <section mdbScrollspyElement="scrollspy" id="example-5">
          <h3>Monitores</h3>


          <div class="d-flex d-row m-2">


            <!--CARD Monitor SAMSUNG-->
            <div class="card m-2">
                <img src="https://medias.musimundo.com/medias/00406030-143470-143470-01-143470-01.jpg-size515?context=bWFzdGVyfGltYWdlc3w3NjE5MnxpbWFnZS9qcGVnfGg2MC9oZmYvMTAzODA3MDA5MDk1OTgvMDA0MDYwMzAtMTQzNDcwLTE0MzQ3MF8wMS0xNDM0NzBfMDEuanBnX3NpemU1MTV8ZTNjOWI1MDQ0MzM2OWI4ZmRmYmU3NThjYmI0ZmI5NGYyN2Q1ZTBlZjdiYzRhYjY0YjM4NDM3ZDFmZWY0YWZmYQ" class="card-img-top " width="80px" alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Monitor SAMSUNG.
                    </h5>
                    <p class="card-text ">Diseño minimalista, máxima concentración. La pantalla sin borde en 3 lados aporta una estética limpia y moderna a cualquier entorno.
                        <a href="https://www.musimundo.com/informatica/monitores-y-pantallas/samsung/p/00406030?bdwsearch=true">Leer Más</a>
                    </p>
                </div>
            </div>

        <!--FIN CARD  Monitor SAMSUNG-->

        <!--CARD MONITOR LED SAMSUNG-->
        <div class="card m-2">
          <img src="https://medias.musimundo.com/medias/00406004-177456-177456-01.png-177456-01.png-size515?context=bWFzdGVyfGltYWdlc3w2Mjc5NDB8aW1hZ2UvcG5nfGg4Yi9oYjkvMTAzODA2ODE3NDAzMTgvMDA0MDYwMDQtMTc3NDU2LTE3NzQ1Nl8wMS5wbmctMTc3NDU2XzAxLnBuZ19zaXplNTE1fGU1OThkMjNlMmViZmE0NDViNWExYmMwNzQ1MDdiYzdkYTY1ZDE3OWE1YzJiZTJkYWJhMGFiMDE0M2U0YThlODc" class="card-img-top " width="80px" alt="... ">
          <div class="card-body ">
              <h5 class="card-title ">MONITOR LED SAMSUNG LF22T350FHLCZB



              </h5>
              <p class="card-text ">Descubrí la experiencia tecnicolor desde cualquier punto. El panel IPS conserva la intensidad y claridad del color en cada centímetro de la pantalla..
                  <a href="https://www.musimundo.com/informatica/monitores-y-pantallas/monitor-led-samsung-lf22t350fhlczb/p/00406004?bdwsearch=true">Leer Más</a>
              </p>
          </div>
      </div>

  <!--FIN CARD MONITOR LED SAMSUNG -->

       <!--CARD ASUS VA27EHE -->
       <div class="card m-2">
        <img src="https://medias.musimundo.com/medias/00467002-144742-144742-01-144742-01.jpg-size515?context=bWFzdGVyfGltYWdlc3w1OTQ4M3xpbWFnZS9qcGVnfGg4Ny9oMDUvMTAzMjgxMjU1MzgzMzQvMDA0NjcwMDItMTQ0NzQyLTE0NDc0Ml8wMS0xNDQ3NDJfMDEuanBnX3NpemU1MTV8YWJhYzZhNmI4Mzg2ZGRlZDYzNzRhYjY2MDQyZmY4NjA3NzllYmI1NjUwMGM0MmI3MjRiYjJhZTAyZDY4ZjU0Yg" class="card-img-top "  width="80px" alt="... ">
        <div class="card-body ">
            <h5 class="card-title ">MONITOR ASUS VA27EHE.
            </h5>
            <p class="card-text ">Monitor LED. Pantalla con retroiluminacion LED Full HD (1920 x 1080) de 27 pulgadas con panel de angulo de vision amplio IPS de 178 .
                <a href="https://www.musimundo.com/informatica/monitores-y-pantallas/monitor-asus-va27ehe/p/00467002?bdwsearch=true">Leer Más</a>
            </p>
        </div>
    </div>

  <!--FIN CARD ASUS VA27EHE -->


        </div>

        </section>


    </div>
  </div>



  <div class="col-md-2 tab-content" id="scrollspy-example-child">
    <div id="scrollspy" class="sticky-top  ">
      <ul mdbScrollspy="scrollspy" class="nav flex-column nav-pills menu-sidebar ">
        <li class="nav-item">
          <a mdbScrollspyLink="example-1" class="nav-link">Placas Electrónicas</a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="example-2" class="nav-link">Microcontroladores</a>
        </li>
        <li class="nav-item">
          <a mdbScrollspyLink="example-3" class="nav-link">Notebooks</a>

        </li>

        <li class="nav-item">
          <a mdbScrollspyLink="example-4" class="nav-link">Smart TV</a>

        </li>

        <li class="nav-item">
          <a mdbScrollspyLink="example-5" class="nav-link">Monitores</a>

        </li>

      </ul>
    </div>
  </div>
</div>






</div>


</div>


<!--FIN CONTAINER PRINCIPAL-->























<!--MODAL AYUDA -->
              <!-- Modal -->
              <div class="modal fade " id="staticBackdrop"
                data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content bg-dark text-white" id="modalAyuda">
                    <div class="modal-header">
                      <h4 class="modal-title" id="staticBackdropLabel">Guía
                        Listado de Productos</h4>
                      <button type="button" class="btn-close btn-close-white"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h5>Acerca de la Gestión de Productos </h5>
                      <p>En esta sección podemos visualizar los Productos según
                        los requerimientos deseados, existe paginacion de
                        productos, podemos aplicar filtros de búsqueda y las
                        operaciones CRUD requeridas según el rol que se tenga.
                        Los admins podrán realizar todas las Operaciones, los
                        usuarios solamente la visualización y búsquedas.</p>
                        <br>
                      <h5>Buscador de Productos </h5>
                      <p>Es posible realizar la búsqueda de productos según
                        filtros aplicados para cada campo del Listado. Es decir,
                        las siglas o palabras ingresadas serán aplicadas para
                        todos los campos. </p>
                        <br>
                      <h5>Campos del Listado</h5>
                      <p>Cada campo describe una característica del producto
                        específico por fila. El campo opciones nos permite
                        visualizar, editar y eliminar el producto seleccionado.
                        También podemos agregar un producto desde la barra de
                        navegación.</p>
                      <ul>

                        <li><strong>Código:</strong> Este código hace referencia
                          al producto, no es posible que existan duplicados, es
                          válido solo letras, números y ciertos caracteres.
                          Además de un máximo de 10 digitos.</li>
                        <li><strong>Nombre:</strong> El nombre hace referencia
                          mismo al producto. A comparación de la descripción,
                          este es una acotación para la clasificación de los
                          productos.</li>
                      </ul>
                      <div class="mt-5 ">
                        <strong>CONTENIDO PARCIALMENTE DISPONIBLE, CONTACTAR AL
                          DESARROLLADOR</strong>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark"
                        data-bs-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--FIN MODAL AYUDA-->
