body {
    background-image: url(/assets/background/back07-elec07.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
}
