body {
    background-image: url(/assets/background/back04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
}
